html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    position: relative;
}
.preloader{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f;
    position: fixed;
    z-index: 2;
}
.gload{
  width: 200px;
  height: auto;  
}
.loader{
    width: 180px;
    height: 6px;
    margin-top: 12px;
    position: relative;
    overflow: hidden;
}
.loaderaft{
    display: none;
}
.lgrad{
    width: 180px;
    height: 5px;
    background-image: linear-gradient(to right, #00000000, #00ff8f);
    position: absolute;
    border-radius: 15px;
    top: 0px;
    left: -180px;
    animation: loop 0.8s linear infinite;    
}
@keyframes loop{
    from{
        left: -180px;
    }
    to{
        left: 180px;
    }
}
.preloaderanime{
    transform: translateY(-100%);
    transition-duration: 0.8s;
}
header{
    width: 100%;
    height: auto;
    background-color: #09191d00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    position: fixed;
    transition: 1s;
    z-index: 1;

}
.logo{
    width: 2rem;
    height: 2rem;
    margin-left: 2rem;
    display: flex;
}
#logo{
    display: none;
    width: 100%;
    height: auto;
}
.nav{
    width: auto;
    height: 2rem;
    display: flex;
    align-items: center;
    opacity: 0;
}
.navanime{
    opacity: 1;
    transition-duration: 0.8s;
    transition-delay: 1s;
}
.navlist{
    width: auto;
    height: 2rem;
    margin-right: 2rem;
    display: flex;
    align-items: center;
}
.navlist a{
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 900;
    margin-left: 0.8rem;
    cursor: pointer;
}
.cover{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, #00000094,#00000079), url("Bg/mainbg.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner{
    width: 70%;
    height: auto;
    transform: translateY(70vh);
}
.banneraft{
    transform: translateY(0vh);
    transition-duration: 0.5s;
    transition-delay: 1s;
}
.mainbody{
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family:'Poppins', sans-serif;

}
.about{
    width: 100%;
    height: auto;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.title{
    color: #1ce08b;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 6rem;
}
.content{
    color: #555;
    margin-left: 5rem;
    margin-right: 5rem;
    text-align: justify;
    margin-bottom: 10rem;
}
.services{
    width: 100%;
    height: auto;
    background-color: #dddddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.srow{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.scard{
    width: 30%;
    height: 20rem;
    margin-bottom: 4rem;
    margin-right: 2rem;
    margin-left: 2rem;
    font-size: 1rem;
    font-weight: 600;
}
.sfront{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #014758;
    text-align: center;
}
.sfrontt{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #014758;
    text-align: center;
}
.sback{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #067e7a;
    color: #c9fb36;
    text-align: center;
    position: relative;
    bottom: 20rem;
    opacity: 0;
}
.sbackt{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #067e7a;
    color: #c9fb36;
    text-align: center;
    position: relative;
    bottom: 20rem;
    opacity: 0;
}
.sback p{
    margin:2rem;
}
.sback:hover {
    opacity: 1;
    transition: 0.5s ease;
}
.sbackt p{
    margin:2rem;
}
.sbackt:hover {
    opacity: 1;
    transition: 0.5s ease;
}
.book{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.services button{
    width: 18rem;
    height: 3rem;
    border: none;
    background-color: #1ce08b;   
    color: #ffffff;
    font-size: 1rem;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
.services button:hover{
    background-color: #00ac61;
}
.internship{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.internship h3{
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-size: 2.4rem;
    font-weight: 600;
    color: #014758a1;
}
.prodmark{
    display: none;
}
.gallery{
    width: 100%;
    height: 50rem;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.g1{
    width: 32%;
    height: 38rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-right: 2rem;
}
.g1 .images{
    width: auto;
    height: 60rem;
}
.gcol{
    width: 24%;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 1rem;
}
.g2{
    width: 100%;
    height: 46%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.images{
    width: auto;
    height: 100%;
}
.products{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:linear-gradient(to bottom, #000000bd, #0000009f), url("Bg/prodbg.jpg");
    background-size: cover;
    background-position: center;
}
.cardicon{
    width: 3rem;
    height: 3rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}
.cardcontainer{
    width: 40%;
    height: 20rem;
    margin-top: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
}
.rcard{
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in-out;
    transform-style: preserve-3d;

}
.rcard p{
    margin-right: 4rem;
    margin-left: 4rem;
}
.rcard figure{
    width: 100%;
    height: 100%;
    font-weight: 500;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}
.front{
    background-color: #ffffff;
    color: #014758;
}
.back{
    background-color: #292929;
    color: #00ff8f;
    transform: rotateY(180deg);
    opacity: 0;
    transition: 0.3s ease;

}
.cardcontainer:hover .rcard{
    transform: rotateY(180deg);
}
.cardcontainer:hover .back{
    opacity: 1;
}
.plink{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.plink button{
    width: 10rem;
    height: 3rem;
    border: none;
    background-color: #363636;   
    color: #ffffff;
    font-size: 0.8rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.plink button:hover{
    background-color: #1d1d1d;
}
.link{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 1rem;
}
.link button{
    width: 20rem;
    height: 4rem;
    border: none;
    background-color: #1ce08b;   
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    position: relative;
    top: 2rem;
}
.link button:hover{
    background-color: #00ac61;
}
.linkicon{
    width: 0.8rem;
    height: 0.8rem;
    
}
.feedback{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.textbox{
    width: 60%;
    height: 2rem;
    margin-bottom: 1rem;
    -moz-appearance: textfield;   
}
input::-webkit-outer-spin-button, ::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
.textcomment{
    width: 60%;
    padding-bottom: 5rem;
    margin-bottom: 1rem;
}
.qform{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.submit{
    width: 12rem;
    height: 2.4rem;
    border: none;
    background-color: #067e7a;   
    color: #ffffff;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.6rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 2rem;
}
.submit:hover{
    background-color: #18b2aa;
}
.contactus{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contactinfo{
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items:flex-start ;
}
.contactlogo{
    width: 4rem;
    height: 4rem;
    display: flex;
    margin-right: 1rem;
    margin-top: 0.2rem;
}
.contlogo{
    width: 4rem;
    height: 4rem;
}
.contact{
    text-align: justify;
    color: #555;
    font-size: 0.8rem;
    margin: 0;
}
.contact a{
    text-decoration: none;
}
.namec{
    margin: 0;
    color: #20ff9f;
    font-size: 1.8rem;
    font-weight: 700;
    
}
footer{
    width: 100%;
    height: 1rem;
    background-color: #09191d;
    color: #333333;
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.8rem;
    padding-top: 0.8rem;
}
.navicon {
    width: auto;
    height: 2rem;
    display: none;
    cursor: pointer;
}
.navicon div{
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    margin-right: 1rem;
    transition: all 0.5s ease;
}
.pc{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mob{
    display: none;
    width: 100%;
    height: 30rem;
    overflow: hidden;
}
.mobimgcontainer{
    width: 90%;
    height: 18rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.sbtn{
    width: 10%;
    height: 5rem;
    background-color: #eeeeee;
    border: none;
}
.sicon{
    width: auto;
    height: 1rem;
    cursor: pointer;
    
}
@media screen and (max-width:700px){
    .navlist{
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        width: 100%;
        background-color: #09191d;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin:0;
        transform: translateX(100%);
        transition: 0.5s ease-in;
    }
    .navicon{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;       
    }
    .gallery{
        height: auto;
    }
    .pc{
        display: none;
    }
    .mob{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .pic{
        width: auto;
        height: 18rem;
    }
    .content{
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .services{
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        background-color: #292929;
    }
    .srow{
        flex-direction: column;
    }
    .scard{
        width: 90%;
        height: 10rem;
        font-size: 0.8rem;
        font-weight: 600;
        margin-bottom: 1rem;
        margin-top: 1rem;
        overflow: hidden;
    }
    .cardicon{
        fill: #eeeeee;
    }
    .sfront{
        width: 100%;
        flex-direction: row;
        background-color: #333333;
        color:#eeeeee;
        text-align: left;
        justify-content: left;
        transform: translateX(-110%);
        opacity: 0;
        transition: 0.5s ease;
    }
    .sfrontt{
        width: 100%;
        flex-direction: row-reverse;
        background-color:#333333;
        color:#eeeeee;
        text-align: right;
        justify-content: right;
        transform: translateX(110%);
        opacity: 0;
        transition: 0.5s ease;
    }
    .sfrontanime{
        transform: translateX(0);
        opacity: 1;
        transition: 0.4s ease;
    }
    .sfronttanime{
        transform: translateX(0);
        opacity: 1;
        transition: 0.4s ease;
        transition-delay: 0.1s;
    }
    .sback{
        width: 100%;
        flex-direction: row;
        background-color: #333333;
        color: #eeeeee;
        text-align: left;
        justify-content: left;
        position: relative;
        bottom: 10rem;
    }
    .sbackt{
        width: 100%;
        flex-direction: row-reverse;
        background-color:#333333;
        color: #eeeeee;
        text-align: right;
        position: relative;
        justify-content: right;
        bottom: 10rem;
       
    }
    .scard p{
        margin:0.8rem;
        width: 66%;
    }
    .book{
        justify-content: right;
        margin-top: 3rem;
        margin-bottom: 0;
    }
    .services button{
        width: 70%;
        position: relative;
        top: 1.5rem;
    }
    .prodmark{
        width: 100%;
        height: 1rem;
        display: flex;
        margin-bottom: 7rem;
    }
    .products{
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem; 
    }
    .cardcontainer{
        width: 80%;
        height: 15rem;
        margin-left: 0;
        margin-right: 0;
        overflow: hidden;
    }
    .rcard{
        transform: translateY(104%);
    }
    .rcardanime{
        transform: translateY(0);
        transition: 0.4s ease;
    }
    .link{
        margin-bottom: 2rem;
        justify-content: center;
    }
    .link button{
        width: 12rem;
        height: 3rem;
        top: 0;
    }
    .gload{
        width: 100px;
    }
    .loader{
        width: 90px;
    }
    .lgrad{
        width: 90px;
    }
    .title{
        font-size: 2.4rem;
        margin-bottom: 2rem;
    }
}

.nav-active{
    transform: translateX(0);
}
.x .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.x .line2{
    opacity: 0;
}
.x .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}  