html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    position: relative;
}
.preloader{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f;
    position: fixed;
    z-index: 2;
}
 .loaded{
     display: none;
 }
.gload{
  width: 200px;
  height: auto;  
}
.loader{
    width: 180px;
    height: 6px;
    margin-top: 12px;
    position: relative;
    overflow: hidden;
}
.lgrad{
    width: 180px;
    height: 5px;
    background-image: linear-gradient(to right, #00000000, #00ff8f);
    position: absolute;
    border-radius: 15px;
    top: 0px;
    left: -180px;
    animation: loop 0.8s linear infinite;    
}
@keyframes loop{
    from{
        left: -180px;
    }
    to{
        left: 180px;
    }
}
header{
    width: 100%;
    height: auto;
    background-color: #09191d00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    position: fixed;
    transition: 1s;
    z-index: 1;

}
.logo{
    width: 2rem;
    height: 2rem;
    margin-left: 2rem;
    display: flex;
}
#logo{
    display: none;
    width: 100%;
    height: auto;
}
.nav{
    width: auto;
    height: 2rem;
    display: flex;
    align-items: center;
}
.navlist{
    width: auto;
    height: 2rem;
    margin-right: 2rem;
    display: flex;
    align-items: center;
}
.navlist a{
    text-decoration: none;
    color: white;
    font-family: 'Polly';
    font-size: 1rem;
    font-weight: 800;
    margin-left: 0.8rem;
}
.cover{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, #00000094,#00000079), url("https://img5.goodfon.com/wallpaper/nbig/b/27/greenhouse-plants-green-tropical-exotic-nature-interior.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainbody{
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Polly';
}
.about{
    width: 100%;
    height: auto;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.title{
    color: #1ce08b;
    font-weight: 900;
    font-size: 3rem;
}
.content{
    color: #555;
    margin-left: 5rem;
    margin-right: 5rem;
    text-align: justify;
    margin-bottom: 10rem;
}
.services{
    width: 100%;
    height: auto;
    background-color: #dddddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.srow{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.scard{
    width: 30%;
    height: 18rem;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    color: #014758;
    font-size: 1rem;
    font-weight: 900;
    text-align: center;

}
.scardw{
    width: 30%;
    height: 18rem;
    background-color: #ffffff;
    margin-bottom: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    opacity: 0;
    cursor: unset;

}
.scard:hover {
    background-color: #067e7a;
    color: #c9fb36;
}
.book{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.services button{
    width: 18rem;
    height: 3rem;
    border: none;
    background-color: #1ce08b;   
    color: #ffffff;
    font-size: 1rem;
    font-weight: 502;
    font-family: 'Polly';
    cursor: pointer;
}
.services button:hover{
    background-color: #00ac61;
}
.internship{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.internship h3{
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-size: 2.4rem;
    font-weight: 990;
    color: #014758a1;
}
.gallery{
    width: 100%;
    height: 50rem;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.g1{
    width: 50%;
    height: 38rem;
    overflow: hidden;
    display: flex;
}
.gcol{
    width: 24%;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.g2{
    width: 100%;
    height: 46%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.images{
    width: auto;
    height: 100%;
}
#banner{
    width: 70%;
    height: auto;
}
.products{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:linear-gradient(to bottom, #000000bd, #0000009f), url("https://data.whicdn.com/images/308312968/original.jpg");
    background-size: cover;
    background-position: center;
}
.cardicon{
    width: 3rem;
    height: 3rem;
}
.cardcontainer{
    width: 40%;
    height: 20rem;
    margin-top: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
}
.rcard{
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in-out;
    transform-style: preserve-3d;

}
.rcard figure{
    width: 100%;
    height: 100%;
    font-weight: 900;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}
.front{
    background-color: #ffffff;
    color: #014758;
}
.back{
    background-color: #292929;
    color: #00ff8f;
    transform: rotateY(180deg);
    opacity: 0;
    transition: 0.3s ease;

}
.cardcontainer:hover .rcard{
    transform: rotateY(180deg);
}
.cardcontainer:hover .back{
    opacity: 1;
}
.link{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 1rem;
}
.link button{
    width: 20rem;
    height: 4rem;
    border: none;
    background-color: #1ce08b;   
    color: #ffffff;
    font-size: 1rem;
    font-weight: 1000;
    font-family: 'Polly';
    cursor: pointer;
    position: relative;
    top: 2rem;
}
.link button:hover{
    background-color: #00ac61;
}
.linkicon{
    width: 0.8rem;
    height: 0.8rem;
    
}
.feedback{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.textbox{
    width: 60%;
    height: 2rem;
    margin-bottom: 1rem;
}
.textcomment{
    width: 60%;
    padding-bottom: 5rem;
    margin-bottom: 1rem;
}
.qform{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.submit{
    width: 12rem;
    height: 2.4rem;
    border: none;
    background-color: #067e7a;   
    color: #ffffff;
    font-size: 0.8rem;
    font-weight: 502;
    letter-spacing: 0.6rem;
    font-family: 'Polly';
    margin-bottom: 2rem;
}
.submit:hover{
    background-color: #18b2aa;
}
.contactus{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contactinfo{
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items:flex-start ;
}
.contactlogo{
    width: 4rem;
    height: 4rem;
    display: flex;
    margin-right: 1rem;
    margin-top: 0.2rem;
}
.contlogo{
    width: 4rem;
    height: 4rem;
}
.contact{
    text-align: justify;
    color: #555;
    font-size: 0.8rem;
    margin: 0;
}
.contact a{
    text-decoration: none;
}
.namec{
    margin: 0;
    color: #20ff9f;
    font-size: 1.8rem;
    font-weight: 800;
    
}
footer{
    width: 100%;
    height: 1rem;
    background-color: #09191d;
    color: #333333;
    font-size: 1rem;
    letter-spacing: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.8rem;
    padding-top: 0.8rem;
}
.ftr{
    font-family: 'Polly';
    margin: 0;
    
}
.navicon {
    width: auto;
    height: 2rem;
    display: none;
    cursor: pointer;
}
.navicon div{
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    margin-right: 1rem;
    transition: all 0.5s ease;
}
.pc{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.mob{
    display: none;
    width: 100%;
    height: 40rem;
    overflow: hidden;
}
.mobimgcontainer{
    width: 90%;
    height: 18rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.sbtn{
    width: auto;
    height: auto;
    background-color: #ffffff3f;
    border: none;
}
.sicon{
    width: auto;
    height: 1rem;
    cursor: pointer;
    
}
@media screen and (max-width:700px){
    .navlist{
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        width: 100%;
        background-color: #09191d;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin:0;
        transform: translateX(100%);
        transition: 0.5s ease-in;
    }
    .navicon{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;       
    }
    .gallery{
        height: auto;
    }
    .pc{
        display: none;
    }
    .mob{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .pic{
        width: auto;
        height: 18rem;
    }
    .content{
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .srow{
        flex-direction: column;
    }
    .scardw{
        display: none;
    }
    .scard{
        width: 80%;
    }
    .cardcontainer{
        width: 80%;
    }
    .link button{
        width: 14rem;
        height: 3rem;
        top: 1.5rem;
    }
    .gload{
        width: 100px;
    }
    .loader{
        width: 90px;
    }
    .lgrad{
        width: 90px;
    }
    .title{
        font-size: 2.4rem;
    }

}

.nav-active{
    transform: translateX(0);
}
.x .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.x .line2{
    opacity: 0;
}
.x .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}  