*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    position: relative;
}
.preloader{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f;
    position: fixed;
    z-index: 10;
}
.gload{
  width: 200px;
  height: auto;  
}
.loader{
    width: 180px;
    height: 6px;
    margin-top: 12px;
    position: relative;
    overflow: hidden;
}
.loaderaft{
    display: none;
}
.lgrad{
    width: 180px;
    height: 5px;
    background-image: linear-gradient(to right, #00000000, #00ff8f);
    position: absolute;
    border-radius: 15px;
    top: 0px;
    left: -180px;
    animation: loop 0.8s linear infinite;    
}
@keyframes loop{
    from{
        left: -180px;
    }
    to{
        left: 180px;
    }
}
.preloaderanime{
    transform: translateY(-100%);
    transition-duration: 0.8s;
}
header{
    width: 100%;
    height: auto;
    background-color: #09191d00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: fixed;
    transition: 1s;
    z-index: 3;
    transition: 0.4s ease;
}
.navbaractive{
    background-color: #09191d;
    box-shadow: 2px 2px 40px #00000044;
}
.logo{
    width: 2rem;
    height: 2rem;
    margin-left: 2rem;
    display: flex;
    opacity: 0;
    transition: 0.3s ease;
}
.logoactive{
    opacity: 1;
}
#logo{
    width: 100%;
    height: auto;
}
.nav{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    opacity: 0;
}
.navanime{
    opacity: 1;
    transition: 0.6s ease 1s;
}
.navlist{
    width: auto;
    height: auto;
    margin: 0 1rem;
    display: flex;
    align-items: center;
}
.navlist li{
    text-decoration: none;
    list-style: none;
    color: white;
    font-family:'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    margin: 0 0.4rem;
    cursor: pointer;
}
.cover{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, #00000094,#00000079), url("Bg/mainbg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner{
    width: 70%;
    height: auto;
    transform: translateY(70vh);
}
.banneraft{
    transform: translateY(0vh);
    transition: 0.4s ease 1s;
}
.mainbody{
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family:'Poppins', sans-serif;
}
button{
    cursor: pointer;
}
.about{
    width: 100%;
    height: auto;
    padding: 10rem 0;
    background-color: #fcfcfc;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.title{
    color: #1ce08b;
    font-weight: 700;
    font-size: 3rem;
    margin: 3rem 2rem;
}
.about .title{
    align-self: flex-start;
    margin: 0 10rem;
}
.content{
    color: #555;
    margin: 3rem 10rem;
    text-align: left;
    font-size: 1.2rem;
}
.services{
    width: 100%;
    height: auto;
    background-color: #fcfcfc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
}
.srow{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.scard{
    width: 30%;
    height: 20rem;
    margin-bottom: 4rem;
    margin-right: 2rem;
    margin-left: 2rem;
    font-size: 1rem;
    font-weight: 600;
    box-shadow: 2px 2px 40px #00000028;
}
.scard h2{
    font-size: 1rem;
    margin: 0 1rem;
}
.sfront{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #014758;
    text-align: center;
}
.sback{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #484848;
    text-align: center;
    position: relative;
    bottom: 20rem;
    opacity: 0;
    transition: 0.5s ease;
}
.sback p{
    margin:2rem;
}
.sback:hover {
    opacity: 1;  
}
.book{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.services button{
    width: 18rem;
    height: 3rem;
    border: none;
    background-color: #1ce08b;   
    color: #ffffff;
    font-size: 1rem;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: 0.4s ease;
    box-shadow: 2px 2px 40px #00000033;
}
.services button:hover{
    background-color: #00ac61;
    box-shadow: 2px 2px 40px #00000044;
}
.internship{
    width: 100%;
    height: auto;
    padding: 8rem 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 2px 2px 40px #00000044;
}
.internship h1{
    font-size: 2.4rem;
    font-weight: 600;
    color: #014758a1;
}
.prodmark{
    display: none;
}
.gallery{
    width: 100%;
    height: 50rem;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 40px #00000044;
}
.products{
    width: 100%;
    height: auto;
    display: flex;
    padding: 4rem 0;
    flex-direction: column;
    align-items: center;
    background-color: #484848;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.cardicon{
    width: 3rem;
    height: 3rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}
.cardcontainer{
    width: 40%;
    height: 20rem;
    margin-top: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
}
.rcard{
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in-out;
    transform-style: preserve-3d;

}
.rcard p{
    margin-right: 4rem;
    margin-left: 4rem;
}
.rcard figure{
    width: 100%;
    height: 100%;
    font-weight: 500;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}
.front{
    background-color: #ffffff;
    color: #014758;
}
.back{
    background-color: #292929;
    color: #00ff8f;
    transform: rotateY(180deg);
    opacity: 0;
    transition: 0.3s ease;

}
.cardcontainer:hover .rcard{
    transform: rotateY(180deg);
}
.cardcontainer:hover .back{
    opacity: 1;
}
.plink{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.plink button{
    width: 10rem;
    height: 3rem;
    border: none;
    background-color: #363636;   
    color: #ffffff;
    font-size: 0.8rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.plink button:hover{
    background-color: #1d1d1d;
}
.link{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 1rem;
}
.link button{
    width: 20rem;
    height: 4rem;
    border: none;
    background-color: #1ce08b;   
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    position: relative;
    top: 6rem;
    transition: 0.3s ease;
}
.link button:hover{
    background-color: #00ac61;
}
.linkicon{
    width: 0.8rem;
    height: 0.8rem;
    
}
.feedback{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:1rem 0;
    padding: 1rem 0;

}
.textbox{
    width: 60%;
    height: 2rem;
    margin-bottom: 1rem;
    -moz-appearance: textfield;   
}
input::-webkit-outer-spin-button, ::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
input, textarea{
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
.textcomment{
    width: 60%;
    margin-bottom: 4rem;
}
.textbox, .textcomment, .textbox:focus, .textcomment:focus {
    outline: none;
    border: none;
    -moz-border-colors: none;
    -webkit-border-before: none;
    border-bottom: 1px solid #555;
    box-shadow: none;
}
.textbox, .textcomment{
    padding: 0 4px;
}
.qform{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.submit{
    width: 12rem;
    height: 3rem;
    border: none;
    background-color: #067e7a;   
    color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.6rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 2rem;
    transition: 0.3s ease;
}
.submit:hover{
    background-color: #18b2aa;
}
.contactus{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contactinfo{
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items:flex-start ;
}
.contactlogo{
    width: 4rem;
    height: 4rem;
    display: flex;
    margin-right: 1rem;
    margin-top: 0.2rem;
}
.contlogo{
    width: 4rem;
    height: 4rem;
}
.contact{
    text-align: justify;
    color: #555;
    font-size: 0.8rem;
    margin: 0;
}
.contact a{
    text-decoration: none;
}
.namec{
    margin: 0;
    color: #20ff9f;
    font-size: 1.8rem;
    font-weight: 700;
    
}
footer{
    width: 100%;
    height: 2rem;
    background-color: #09191d;
    color: #666666;
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.8rem;
    padding-top: 0.8rem;
}
.navicon {
    width: auto;
    height: 2rem;
    display: none;
    cursor: pointer;
}
.navicon div{
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    margin-right: 1rem;
    transition: all 0.5s ease;
}
.left,
.right,
.bottom{
    transform: translateY(80%);
    opacity: 0;
    transition: 0.4s ease;
}
@media screen and (max-width:700px){
    header{
        padding: 1rem 0;
    }
    .navlist{
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        width: 100%;
        background-color: #09191d;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin:0;
        padding: 0;
        transition: 0.6s ease-in-out;
        clip-path: circle(100px at 110% -25%);
        -webkit-clip-path: circle(100px at 110% -25%);
    }
    .nav-active{
        clip-path: circle(1400px at 110% -25%);
        -webkit-clip-path: circle(1400px at 110% -25%);
    }
    .navitem{
        opacity: 0;
        transition: 0.3s ease;
    }
    .navaactive{
        opacity: 1;
        transition-delay: 0.5s;
    }
    .navicon{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;      
    }
    .cover{
        background-attachment: unset;
    }
    .about{
        padding: 4rem 0;
    }
    .title{
        font-size: 2rem;
        margin: 1rem 2rem;
    }
    .about .title{
        margin: 1rem 2rem;
    }
    .content{
        margin: 0 2rem;
        font-size: 0.8rem;
    }
    .services{
        border-top-left-radius: 18px;
        border-top-right-radius: 18px;
        background-color: #292929;
    }
    .srow{
        flex-direction: column;
    }
    .scard{
        width: 90%;
        height: 10rem;
        font-size: 0.8rem;
        font-weight: 600;
        margin-bottom: 1rem;
        margin-top: 1rem;
        overflow: hidden;
    }
    .cardicon{
        fill: #eeeeee;
    }
    .sfront{
        width: 100%;
        flex-direction: row;
        background-color: #333333;
        color:#eeeeee;
        text-align: left;
        justify-content: left;
        padding: 16px;
    }
    .sback{
        width: 100%;
        flex-direction: row;
        background-color: #333333;
        color: #eeeeee;
        text-align: left;
        justify-content: left;
        position: relative;
        bottom: 10rem;
        padding: 16px;
    }
    .reverse{
        flex-direction: row-reverse;
        text-align: right;
        justify-content: end;
    }
    .scard p{
        margin:0.8rem;
        width: 66%;
    }
    .rcard h2{
        font-size: 1.2rem;
    }
    .book{
        justify-content: right;
        margin-top: 3rem;
        margin-bottom: 0;
    }
    .services button{
        width: 70%;
        position: relative;
        top: 6.5rem;
    }
    .internship{
        padding: 3rem 0;
    }
    .products{
        background-attachment: unset;
    }
    .prodmark{
        width: 100%;
        height: 1rem;
        display: flex;
        margin-bottom: 7rem;
    }
    .products{
        border-bottom-left-radius: 18px;
        border-bottom-right-radius: 18px; 
    }
    .cardcontainer{
        width: 80%;
        height: 15rem;
        margin-left: 0;
        margin-right: 0;
        overflow: hidden;
    }
    .link{
        margin-bottom: 2rem;
        justify-content: center;
    }
    .link button{
        width: 12rem;
        height: 3rem;
        top: 0;
    }
    input, textarea{
        font-size: 0.8rem;
    }
    .textbox, .textcomment{
        width: 80%;
    }
    .gload{
        width: 100px;
    }
    .loader{
        width: 90px;
    }
    .lgrad{
        width: 90px;
    }
    .left{
        transform: translateX(-110%);
    }
    .right{
        transform: translateX(110%);
    }
    .bottom{
        transform: translateY(30%);
    }
}
.objectappear{
    transform: translate(0, 0);
    opacity: 1;
}
.x .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.x .line2{
    opacity: 0;
}
.x .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}  