html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    position: relative;
}
header{
    width: 100%;
    height: auto;
    background-color: #09191d00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    position: fixed;
    transition: 1s;
    z-index: 1;

}
.logo{
    width: 2rem;
    height: 2rem;
    margin-left: 2rem;
    display: flex;
}
#logo{
    display: block;
    width: 100%;
    height: auto;
}
.nav{
    width: auto;
    height: 2rem;
    display: flex;
    align-items: center;
}
.navlist{
    width: auto;
    height: 2rem;
    margin-right: 2rem;
    display: flex;
    align-items: center;
}
.navlist a{
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 900;
    margin-left: 0.8rem;
    cursor: pointer;
}
.mainbody{
    width: 100%;
    height: auto;
    display: flex;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mainbody h3{
    color: #ffffff;
    font-weight: 700;
    font-size: 4rem;
}
.mainbody h2{
    color: #014578;
    font-weight: 700;
    font-size: 2.4rem;
    margin-top: 4rem;
}
.mainbody p{
    color: #555;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 2rem;
    text-align: left;
}
.cover{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #070707c5, #00161500), url("a\ \(2\).jpg");
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
}
.banana{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.row{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.col{
    width: 48%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    margin-top: 2rem;
}
.portrait{
    width: 32%;
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-bottom: 0.6rem;
}
.landscape{
    width: 48%;
    height: auto;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-bottom: 0.6rem;
}
.pic{
    width: 100%;
}
.ginger{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee;
}
.ginger .portrait{
    width: 24%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.ginger .row{
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
}
.orchid{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}
.orchid .portrait{
    width: 24%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.orchid .row{
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
}
.container{
    width: 70%;
    height: auto;
    display: none;
    margin-bottom: 2rem;
}
.ornam{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee;
}
.ornam .portrait{
    width: 15%;
}
.ornam .row{
    margin-bottom: 1rem;
}
.book{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
    margin-top: 5rem;
}
.book button{
    width: 18rem;
    height: 3rem;
    border: none;
    background-color: #1ce08b;   
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
.book button:hover{
    background-color: #00ac61;
}
footer{
    width: 100%;
    height: 1rem;
    background-color: #09191d;
    color: #333333;
    font-size: 1rem;
    letter-spacing: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.8rem;
    padding-top: 0.8rem;
}
.ftr{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
}
.navicon {
    width: auto;
    height: 2rem;
    display: none;
    cursor: pointer;
}
.navicon div{
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    margin-right: 1rem;
    transition: all 0.5s ease;
}
@media screen and (max-width:700px){
    .navlist{
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        width: 100%;
        background-color: #09191d;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin:0;
        transform: translateX(100%);
        transition: 0.5s ease-in;
    }
    .navicon{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;       
    }
    .mainbody h3{
        font-size: 2.5rem;
    }
    .mainbody h2{
        font-size: 2rem;
        margin-top: 2rem;
    }
    .container{
        display: flex;
    }
    .mainbody p{
        margin-right: 1.8rem;
        margin-left: 1.8rem;
    }
    .col{
        margin-bottom: 2rem;
    }
    .orchid .portrait{
        width: 18%;
    }
    .ginger .portrait{
        width: 18%;
    }
    .ginger .row{
        margin-bottom: 2rem;
    }
    .orchid .row{
        margin-bottom: 2rem;
    }
    .book{
        margin-top: 2rem;
        margin-bottom: 3rem;
    }
}
.nav-active{
    transform: translateX(0);
}
.x .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.x .line2{
    opacity: 0;
}
.x .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}